[Unit]
Description=rtorrent
After=network.target

[Service]
Type=forking
ExecStartPre=/usr/bin/bash -c "if test -e ~/.rtorrent/.session/rtorrent.lock && test -z `pidof rtorrent`; then rm -f ~/.rtorrent/.session/rtorrent.lock; fi"
# start with vopono Mullvad network namespace
ExecStart=/usr/bin/tmux -L rt new-session -s rt -n rtorrent -d vopono exec rtorrent -p Mullvad -s usa-us95 -o 26067 -f 5000
ExecStop=/usr/bin/bash -c "/usr/bin/tmux -L rt send-keys -t rt:rtorrent.0 C-q; while pidof rtorrent > /dev/null; do echo stopping rtorrent...; sleep 1; done"
Restart=on-failure

[Install]
WantedBy=default.target
