[include]                       # personal config
    path = ~/.gitconfig.local

[core]
    hooksPath = ~/.config/git-hooks/
## https://github.com/dandavison/delta
    pager = delta

[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections
    hyperlinks = true
    features = line-numbers decorations

[delta "magit-delta"]
    # magit doesn't like line numbers: https://github.com/dandavison/magit-delta/issues/13
    line-numbers = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none


[icdiff]
    options             = --line-numbers


[url "git@github.com:"]
    insteadOf = @gh:
[url "git@gitlab.com:"]
    insteadOf = @gl:
[url "git@bitbucket.org:"]
    insteadOf = @bb:
[url "aur@aur.archlinux.org"]
    insteadOf = @aur:
[url "https://github.com/"]
    insteadOf = gh://
[url "https://gitlab.com/"]
    insteadOf = gl://
[url "https://bitbucket.org/"]
    insteadOf = bb://
[url "https://aur.archlinux.org/"]
    insteadOf = aur://

[cola]
    spellcheck          = false

[pull]
    rebase              = true

[credential]
    helper              = store

[rebase]
    autoSquash          = true

[color]
    advice              = true
    branch              = true
    diff                = true
    grep                = true
    interactive         = true
    pager               = true
    push                = true
    remote              = true
    showBranch          = true
    status              = true
    transport           = true
    ui                  = true

[color "branch"]
    current             = 14
    local               = 10
    remote              = 9
    upstream            = 208
    plain               = 15

[color "decorate"]
    branch              = 2 bold
    remoteBranch        = 1 bold
    tag                 = 3 bold
    stash               = 5 bold
    HEAD                = 6 bold
    grafted             = 4 bold

[color "diff"]
    context             = 15
    meta                = 4 bold reverse
    frag                = 3 bold reverse
    func                = 166 bold reverse
    commit              = 3 bold
    old                 = 9
    new                 = 10
    oldMoved            = 8
    newMoved            = 14
    oldMovedAlternative = 8
    newMovedAlternative = 14
    whitespace          = 1 reverse

[color "diff-highlight"]
    oldHighlight        = reverse
    oldReset            = noreverse

[color "interactive"]
    prompt              = 4 bold
    header              = 15 bold
    help                = 15
    error               = 1

[color "push"]
    error               = 1 bold

[color "transport"]
    rejected            = 1 bold

[color "remote"]
    hint                = 5 bold
    warning             = 3 bold
    success             = 2 bold
    error               = 1 bold

[color "status"]
    header              = 15 bold
    added               = 14 bold
    changed             = 11 bold
    untracked           = 9 bold
    branch              = 2 bold
    nobranch            = 3 bold
    localBranch         = 2 bold
    remoteBranch        = 1 bold
    unmerged            = 9 bold reverse

[alias]
    # log, current branch
    l                   = log --pretty=lc --graph
    lo                  = log --pretty=lo --graph --date=human
    ls                  = log --pretty=lo --graph --date=human --simplify-by-decoration
    lf                  = log --pretty=lf --graph
    ld                  = log --pretty=lf --graph --cc --stat
    lp                  = log --pretty=lf --graph --cc --patch

    # log, all branches+tags on all remotes
    la                  = log --pretty=lc --graph                                       --all
    lao                 = log --pretty=lo --graph --date=human                          --all
    las                 = log --pretty=lo --graph --date=human --simplify-by-decoration --all
    laf                 = log --pretty=lf --graph                                       --all
    lad                 = log --pretty=lf --graph --cc --stat                           --all
    lap                 = log --pretty=lf --graph --cc --patch                          --all

    # log, all branches+tags on remotes 'origin' and 'upstream'
    lg                  = log --pretty=lc --graph                                       --branches=* --tags=* --remotes=origin --remotes=upstream
    lgo                 = log --pretty=lo --graph --date=human                          --branches=* --tags=* --remotes=origin --remotes=upstream
    lgs                 = log --pretty=lo --graph --date=human --simplify-by-decoration --branches=* --tags=* --remotes=origin --remotes=upstream
    lgf                 = log --pretty=lf --graph                                       --branches=* --tags=* --remotes=origin --remotes=upstream
    lgd                 = log --pretty=lf --graph --cc --stat                           --branches=* --tags=* --remotes=origin --remotes=upstream
    lgp                 = log --pretty=lf --graph --cc --patch                          --branches=* --tags=* --remotes=origin --remotes=upstream

    # reflog
    rl  = reflog --pretty=rlc
    rlo = reflog --pretty=rlo
    rlf = reflog --pretty=rlf
    rld = reflog --pretty=rlf --stat

    # stash
    sl  = stash list --pretty=rlc
    slo = stash list --pretty=rlo
    slf = stash list --pretty=rlf
    sld = stash list --pretty=rlf --stat
    sls = stash show --patch

[log]
    abbrevCommit        = true
    decorate            = short
    date                = format:%a, %Y-%m-%d %R (%z)
    follow              = true
    graphColors         = 1,2,3,4,5,6,8,166,9,10,11,12,13,14,15,208
    showRoot            = true
    mailmap             = true

[format]
    pretty              = lf

[pretty]
    lo                  = tformat:%C(auto)%h%C(reset)%C(auto)%d%C(reset) %s %C(italic blue)%ad%C(reset) %C(241)%aN%C(reset)
    lc                  =  format:%C(auto)%h%C(reset) %C(white)-%C(reset) %C(italic blue)%ad%C(reset) %C(italic cyan)(%ar)%C(reset)%C(auto)%d%C(reset)%n %C(white)⤷%C(reset) %s %C(241)- %aN <%aE>%C(reset)%n
    lf                  =  format:%C(auto)%h%C(reset)%C(auto)%d%C(reset)   %C(italic 239)[P: %p] [T: %t]%C(reset)%n%C(white)Author:%C(reset)   %aN %C(241)<%aE>%C(reset)%n          %C(italic blue)%ad%C(reset) %C(italic cyan)(%ar)%C(reset)%n%C(white)Commit:%C(reset)   %cN %C(241)<%cE>%C(reset)   %C(italic 239)[GPG: %G?% GK]%C(reset)%n          %C(italic blue)%cd%C(reset) %C(italic cyan)(%cr)%C(reset)%w(0,0,0)%n%n%C(bold)%s%C(reset)%n%n%-b%n%n%-N%n
    rlo                 = tformat:%C(auto)%h%C(reset) %C(bold yellow)(%C(magenta)%gd%C(bold yellow))%C(reset)%C(auto)%d%C(reset) %gs %C(italic blue)%ad%C(reset) %C(241)%aN%C(reset)
    rlc                 =  format:%C(auto)%h%C(reset) %C(white)-%C(reset) %C(italic blue)%ad%C(reset) %C(italic cyan)(%ar)%C(reset)%C(auto)%d%C(reset)%n %C(white)⤷%C(reset) %s %C(241)- %aN <%aE>%C(reset)%n %C(white)⤷%C(reset) %C(bold yellow)(%C(magenta)%gd%C(bold yellow))%C(reset) %gs %C(241)- %gN <%gE>%C(reset)%n
    rlf                 =  format:%C(auto)%h%C(reset) %C(bold yellow)(%C(magenta)%gd%C(bold yellow))%C(reset)%C(auto)%d%C(reset)   %C(italic 239)[P: %p] [T: %t]%C(reset)%n%C(white)Author:%C(reset)   %aN %C(241)<%aE>%C(reset)%n          %C(italic blue)%ad%C(reset) %C(italic cyan)(%ar)%C(reset)%n%C(white)Commit:%C(reset)   %cN %C(241)<%cE>%C(reset)   %C(italic 239)[GPG: %G?% GK]%C(reset)%n          %C(italic blue)%cd%C(reset) %C(italic cyan)(%cr)%C(reset)%n%C(white)Reflog:%C(reset)   %gN %C(241)<%gE>%C(reset)%n          %C(italic)%gs%C(reset)%w(0,0,0)0%n%n%C(bold)%s%C(reset)%n%n%-b%n%n%-N%n
