[Unit]
Description=qBittorrent
Documentation=https://www.qbittorrent.org
BindsTo=graphical-session.target

[Service]
Type=simple
ExecStart=qbittorrent
Restart=on-failure

[Install]
WantedBy=graphical-session.target
