[Unit]
Description=Wayland Overlay Bar
Documentation=https://github.com/francma/wob
BindsTo=graphical-session.target

[Service]
Type=simple
ExecStart=/home/radu/bin/make_pipe_run_wob.sh
Restart=always

[Install]
WantedBy=graphical-session.target
