/* { */
/*     --base03:    #002b36; */
/*     --base02:    #073642; */
/*     --base01:    #586e75; */
/*     --base00:    #657b83; */
/*     --base0:     #839496; */
/*     --base1:     #93a1a1; */
/*     --base2:     #eee8d5; */
/*     --base3:     #fdf6e3; */
/*     --yellow:    #b58900; */
/*     --orange:    #cb4b16; */
/*     --red:       #dc322f; */
/*     --magenta:   #d33682; */
/*     --violet:    #6c71c4; */
/*     --blue:      #268bd2; */
/*     --cyan:      #2aa198; */
/*     --green:     #859900; */
/* } */

* {
    border: none;
    border-radius: 0;
    font-family: Noto Sans;
    font-size: 11.5pt;
}

window#waybar {
    background-color: rgba(0, 43, 54, 0.9);
    color: #859900;
}

#workspaces {
    border-bottom: 1px solid #586e75;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #657b83;
    border-bottom: 3px solid transparent;
}

#taskbar button {
    margin:  0 4px;
    padding: 0 2px;
    background-color: transparent;
    color: #657b83;
    border-bottom: 2px solid #586e75;
}

#taskbar button.active {
    padding: 0 8px;
    background-color: #073642;
    color: #657b83;
    border-bottom: 2px solid #ff0;
}

#workspaces button.focused {
    background-color: #073642;
    border-bottom: 1px solid #ff0;
}

#workspaces button.urgent {
    background-color: #d33682;
}

#mode {
    background-color: #002b36;
    border-bottom: 1px solid #dc322f;
}

#clock, #custom-clock, #cpu, #memory, #temperature, #backlight, network,
##custom-updates, #custom-load, #mode, idle_inhibitor, #custom-weather, #battery {
    padding: 0 4px;
    margin: 0 2px;
    color: #657b83;
}

#pulseaudio, #tray {
    padding: 0;
    margin: 0;
    color: #657b83;
}

#custom-mail {
    padding: 0 4px;
    margin: 0 2px;
    color: #859900;
}

#pulseaudio.muted {
    color: #dc322f;
}

#custom-spotify {
    /* https://usbrandcolors.com/spotify-colors/ */
    /* background-color: #191414 */
    color: #1db954;
}

#battery.warning {
  color: #b58900;
}
#battery.critical {
  color: #dc322f;
}

#custom-mail, #custom-weather, #battery, #custom-clock {
  font-family: JetBrains Mono;
}
