[Unit]
Description=Poll work and personal Gmail
# https://github.com/systemd/systemd/issues/6680
Requires=poll_gmi.service

[Timer]
OnUnitActiveSec=5 min

[Install]
WantedBy=timers.target

# Requires a poll_gmi.service file as follows:
#
# [Service]
# Type=oneshot
# ExecStart=<absolute path to poll script>

# [Install]
# WantedBy=default.target
